@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
.layout-site {
  max-width: 1200px;
  margin: 0 auto;
}
.header-content {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
nav.nav-bar-menu ul li {
  display: inline-block;
  margin-left: 20px;
  margin-top: 15px;
}
nav.nav-bar-menu ul li a {
  color: #445a8e;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.layout-footer .footer-top-menu {
  position: relative;
}
.footer-top-menu {
  background-image: url(assets/background.png);
}
.footer-top-menu .content-site {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
img.background-footer {
  /* background-size: cover; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.footer-middle-layout {
  background: #4c4c4c;
  color: #fff;
}
.footer-middle-layout .wrap-footer-middle {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
form.send-mail input[type="text"] {
  background: transparent;
  border: 1px solid #fff;
  color: #f2ecec;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  /* letter-spacing: 0em; */
  text-align: left;
  padding: 5px 5px;
}
form.send-mail input[type="text"]::placeholder {
  color: #f2ecec;
}
form.send-mail input[type="button"] {
  background-color: #fff;
  color: rgb(0, 112, 157);
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  padding: 6px 10px;
  margin-left: 5px;
  border-radius: 2px;
}
.footer-top-menu .content-site h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer-top-menu .content-site p {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  /* letter-spacing: 0em; */
  margin-bottom: 10px;
}
.wrap-list-menu-footer h4 {
  font-size: 13px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}
.wrap-list-menu-footer ul li a {
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}
.footer-bottom-layout {
  background-color: #333333;
  padding: 20px 0;
}
.footer-bottom-layout .layout-site p {
  text-align: center;
  color: #ffffff;
}
.list-social ul li {
  display: inline-block;
}
.slider-main {
  width: 100%;
}
img.banner-carousel {
  height: cover;
}
nav.slider-main .slick-slider.slick-initialized ul li button {
  width: 10px !important;
  height: 10px;
  border-radius: 10px;
}
nav.slider-main .slick-slider.slick-initialized ul li .slick-active {
  width: 10px;
}
.filter-main {
  background: #f5f5f5;
}
.filter-container {
  text-align: center;
  padding: 40px 0;
}
.core-main {
  text-align: center;
}
.core-main .wrap-core {
  display: flex;
  justify-content: space-between;
}
.core-container {
  text-transform: uppercase;
  padding: 30px 0;
}
.core-container h1.sub-title {
  color: #445a8e;
  font-size: 25px;
  font-weight: 700;
  line-height: 30.48px;
  margin-bottom: 20px;
}
.wrap-core section.core-item {
  flex: 1;
  margin: 0 20px;
}
.core-item .img-item-core {
  width: 114px;
  height: 114px;
  background: #445a8e;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
.core-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: flex;
  align-items: center;
}
.img-item-core p {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.94px;
  color: #fff;
  margin: 0;
}
.core-item h1.title {
  font-size: 33px;
  font-weight: 800;
  line-height: 40.23px;
  text-align: left;
  color: #445a8e;
  margin-bottom: 18px;
}
section.core-item h4.desc {
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: 24.38px;
  text-align: center;
  color: #445a8e;
  margin-bottom: 10px;
}
section.core-item p.content {
  font-size: 13px;
  font-weight: 300;
  line-height: 15.85px;
  text-align: center;
  text-transform: lowercase;
}
.categories-product {
  background-color: #ececec;
}

